<!-- views/participants-index.handlebars -->
<a href="/studies/index">Back to Study List</a>

<h1>Participants</h1>

<div class="row">
  {{#each participants}}
    <div class="col-sm-12">
      <small>{{this.name}}</small>
      <small>{{this.age}}</small>
      <small>{{this.sex}}</small>
      <small>{{this.contact}}</small>
    </div>
  {{/each}}
</div>
